/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.mat-step-header .mat-step-icon-selected {
    background-color:rgb(236, 70, 92);
}

.mat-horizontal-stepper-header {
    height: 49px;
}